:root {
  --primary-color: #5e8e0e;
  --secondary-color: #e6f0d5;
  --accent-color: #e81224;
  --stroke-color: #e6e9ed;
  --font-color: #26313a;
  --font-family: 'inter', sans-serif;
  --border-radius: 8px;
  --border-stroke: 1px solid;
  --font-size-bodytext: 16px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-smalltext: 12px;
}
/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: var(--font-family);
  color: var(--font-color);
  p {
    font-size: var(--font-size-bodytext);
  }

  h1 {
    font-size: var(--font-size-h1);
  }

  h2 {
    font-size: var(--font-size-h2);
    padding-bottom: 12px;
  }
}
